body{
    background-color: rgb(98, 81, 81);
    color:#000;
    border:3px solid white;
    margin:auto;
    min-height: 100vh;
}
/*this is give the whole body a maximum width and change the background color to white and also place it in the middle of the webpage of the browser*/
.container{
    display:flex;
    border:none;

}
/*this to align the top span horizontal by setting the outer container's display to flex and the inner elements' flex = 1*/
.container .container1{
    flex:1;
    padding:10px;
    display: flex;
}
/*this is for the top spans of the web page*/
.container1 > span{
    padding-left : 30px;
    font-family:'Times New Roman', Times, serif'Times New Roman', Times, serif;
    font-size: large;
}
/*this is for the button of sign in and login in at the top*/
.container1 > input[type="button"]{
   flex: 1;
   max-width: 100px;
   padding: 10px;
   border-radius: 20%;
   margin: auto;
   align-items: right;
}
/*this just the welcome banner of website*/
#Name{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    color:gold;
    text-align: center;
    background-image: url("Images/Banner2.jpg");
    background-size:contain;
    height:300px;
}
/*this is to design the navigation bar horizonatallyand to set it's background and the basic styling*/
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    border:3px solid gray;
    width:1000px;
    height: 50px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 160px;
    

}
/*this is to design the a tag of the navigation bar*/
#navbar a{
    text-decoration: none;    
    display:inline-block;
    text-align: center;
}
/*this is to remove the bulleting points on the list items of the navigation bar*/
#navbar li{
    list-style-type:none;
    font-size: large;

    
}
/* this is to set the pseudo hover  class of the navigation bar*/
#navbar a:hover{
    background-color:black;
    color: white;
}
/*this is to set the pseudo active class of the navigation bar*/
#navbar a:active{
    background-color: white;
    color: black;
}
/*lastly this is for setting the pseudo visited clas of the navigation bar*/
#navbar a:visited{
    color: purple;
}/* the above code is going to be common on all webpage of the website*/


/*This to set so the  img have the maximum width and height of the window if possible*/
img{
    width: 100%;
    height: 100%;
}

/*this to set the marquee designs of the welcome page*/
.Containerbig{
    display:flex;
}
.ContainerSmall{
    flex:1;
    max-height: 600px;
    background-color: rgb(159, 141, 118);
    font-size: xx-large;
    position: relative;
}
.ContainerSmall input[type="button"]{
    padding: 10px;
    margin: auto;
    align-items: right;
    border:none;
    position: absolute;
    right: 10%;
    bottom: 10%;
    cursor: pointer;

}
footer{
    display: flex;
    background-color: grey;
}
footer div{
    flex: 1;
    padding: 10px;
}
.ContainerSmall img{
    object-fit: cover;
}
