@font-face {
    font-family: "Montserrat";
    src: url(./montserrat/Montserrat-Medium.ttf);
}
body{
    background-image: url("Images/background.jpg");
    background-size: cover;
    color:#000;
    margin:auto;
    min-height: 100vh;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}
/*this is give the whole body a maximum width and change the background color to white and also place it in the middle of the webpage of the browser*/
.container{
    display:flex;
    border:none;

}
/*this to align the top span horizontal by setting the outer container's display to flex and the inner elements' flex = 1*/
.container .container1{
    flex:1;
    padding:10px;
    display: flex;
}
/*this is for the top spans of the web page*/
.container1 > span{
    padding-left : 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}
/*this is for the button of sign in and login in at the top*/
.container1 > input[type="button"]{
   flex: 1;
   max-width: 100px;
   padding: 10px;
   border-radius: 20%;
   margin: auto;
   align-items: right;
}
/*this is to design the navigation bar horizonatally and to set it's background and the basic styling*/
#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    border:none;
    width:1000px;
    height: 50px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 160px;
    font-family: "Montserrat";
    padding: 10px;
    flex-direction: row;

}
/*this is to design the a tag of the navigation bar*/
#navbar a{
    text-decoration: none;    
    display:inline-block;
    text-align: center;
    padding: 10px 15px;
    color: silver;
    margin: 0 10px;
    font-family: "Montserrat";
}
/*this is to remove the bulleting points on the list items of the navigation bar*/
#navbar li{
    list-style-type:none;
    font-size: large;

    
}
/* this is to set the pseudo hover  class of the navigation bar*/
#navbar a:hover{
    background-color:rgb(190, 190, 190);
    color: white;
}
/*this is to set the pseudo active class of the navigation bar*/
#navbar a:active{
    background-color: white;
    color: black;
}
/*lastly this is for setting the pseudo visited clas of the navigation bar*/
#navbar a:visited{
    color: purple;
}/* the above code is going to be common on all webpage of the website*/

#Location{
    height: 100px;
    text-align: center;
    border-radius: 5%;
}
/*this is to design the location banner  and the contact us banner*/
#Location h1{
    font-size: 50px;
    font-family:"Montserrat";
    background: transparent;
    backdrop-filter: blur(20px);
    color: black;
    padding-top: 20px;
}
/*this is to design the map of the location*/
#map{
    width: 100%;
    height: 1000px;
}
/*this is to design the form of the page*/
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: transparent;
}
#form input{
    background: transparent;
    backdrop-filter: blur(20px);
    color: #fff;
}
#form textarea{
    background: transparent;
    color: #fff;
    font-weight: 500;
}
#form select{
    background: transparent;
    color: #fff;
    font-size: x-large;
}
form{
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 10px 5px gray;
    font-size: large;
}
#Contact{
    display: flex;
    background-color: grey;
}
.Contact1{
    flex: 1;
}
footer{
    display: flex;
    background-color: grey;
}
footer div{
    flex: 1;
    padding: 10px;
}
#Submit{
    background-color: antiquewhite;
    font-size: large;
    border-radius: 5px;
}
/*for the logo*/
#logo1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
