body{
    background-image: url("Images/background.jpg");
    background-size: cover;
    color:#000;
    border:3px solid white;
    margin:auto;
    min-height: 100vh;
}
/*this is give the whole body a maximum width and change the background color to white and also place it in the middle of the webpage of the browser*/
.container{
    display:flex;
    border:none;

}
/*this to align the top span horizontal by setting the outer container's display to flex and the inner elements' flex = 1*/
.container .container1{
    flex:1;
    padding:10px;
    display: flex;
}
/*this is for the top spans of the web page*/
.container1 > span{
    padding-left : 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
/*this is for the button of sign in and login in at the top*/
.container1 > input[type="button"]{
   flex: 1;
   max-width: 100px;
   padding: 10px;
   border-radius: 20%;
   margin: auto;
   align-items: right;
}
/*this just the welcome banner of website*/
#Name{
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:gold;
    text-align: center;
    background-image: url("Images/Banner2.jpg");
    background-size:contain;
    height:300px;
}
/*this is to design the navigation bar horizonatallyand to set it's background and the basic styling*/
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: silver;
    border:3px solid gray;
    width:1000px;
    height: 50px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 160px;
    

}
/*this is to design the a tag of the navigation bar*/
#navbar a{
    text-decoration: none;    
    display:inline-block;
    text-align: center;
}
/*this is to remove the bulleting points on the list items of the navigation bar*/
#navbar li{
    list-style-type:none;
    font-size: large;

    
}
/* this is to set the pseudo hover  class of the navigation bar*/
#navbar a:hover{
    background-color:black;
    color: white;
}
/*this is to set the pseudo active class of the navigation bar*/
#navbar a:active{
    background-color: white;
    color: black;
}
/*lastly this is for setting the pseudo visited clas of the navigation bar*/
#navbar a:visited{
    color: purple;
}/* the above code is going to be common on all webpage of the website*/


/*This to set so the  img have the maximum width and height of the window if possible*/
img{
    width: 100%;
    height: 100%;
}

/*this to set the marquee designs of the welcome page*/
#welcome{
    font-size: 100px;
    background-color: silver;
    height: 150px;

}
#welcome p{
    margin-top: auto;
    margin-bottom: auto;
    color: gold;
}

#promotion{
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
    max-width: 100%;
    object-fit:fill;
}

.imgContainer{
    padding:2rem;
}
.slider-wrapper{
    position: relative;
    max-width: 100%;
    margin:0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%,0.25);
    border-radius:0.5rem; 

}
.slider img{
    flex:1 0 100%;
    scroll-snap-align:start;
    object-fit:cover;
}
.slider-nav{
    display: flex;
    column-gap:1rem;
    position: absolute;
    bottom:1.25rem;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav> a{
    width:0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color:transparent;
    border:2px solid rgb(249, 249, 249);
    transition: all 0.5s;
}
.slider-nav> a:hover{
    border-color: purple;
    width: 1.5em;
    height: 1.5em;
}
.slider-nav> a:active{
    width: 3em;
    height: 3em;
    
}
hr{
    size: 2em;
    box-shadow: 5em 5em 5em 5%;
}
main{
    background-color: grey;
}
footer{
    display: flex;
    background-color: grey;
}
footer div{
    flex: 1;
    padding: 10px;
}
/*for the logo*/
#logo1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}