*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: left;
    margin-top: 20px;
    font-size: 30px;
    color: #333;
}
form{
    width: 420px;
    margin: 10px;
    margin-top: 50px;
    background-color: whitesmoke;
    padding: 30px;
    box-shadow: 5px 5px 5px 2px;
    border-radius: 10px;
    height: 300px;
}
form h2{
    text-align: right;
    color: blue;
    padding-bottom:30px;
}
form label{
    color:grey;
    font-size: 15px;
    padding-bottom: 5px;
    margin-right: 10px;
}

form input{
    width: 100%;
    padding: 10px;
    border:none;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left:auto
}
#big{
    display: flex;
}
.small{
    flex: 1;
    padding: 10px;
    margin: 10px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    height: 100vh;
}
main>div{
    margin:20px;
}
#personal{
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}
#personal input{
    border: 2px solid grey;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;    
}
.full{
    width: 420px;
}
#pay{

    padding:10px;
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    transform: translate(0, -350px);
}
#pay button{
    padding: 10px;
    background-color: rgb(74, 74, 253);
    color: white;
    font-size: 20px;
    width: 200px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.container{
    display:flex;
    border:none;

}
/*this to align the top span horizontal by setting the outer container's display to flex and the inner elements' flex = 1*/
.container .container1{
    flex:1;
    padding:10px;
    display: flex;
}
/*this is for the top spans of the web page*/
.container1 > span{
    padding-left : 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
/*this is for the button of sign in and login in at the top*/
.container1 > input[type="button"]{
   flex: 1;
   max-width: 100px;
   padding: 10px;
   border-radius: 20%;
   margin: auto;
   align-items: right;
}
/*this just the welcome banner of website*/
#Name{
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:gold;
    text-align: center;
    background-image: url("Images/Banner2.jpg");
    background-size:contain;
    height:300px;
}
/*this is to design the navigation bar horizonatallyand to set it's background and the basic styling*/
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: silver;
    border:3px solid gray;
    width:1000px;
    height: 50px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 160px;
    

}
/*this is to design the a tag of the navigation bar*/
#navbar a{
    text-decoration: none;    
    display:inline-block;
    text-align: center;
}
/*this is to remove the bulleting points on the list items of the navigation bar*/
#navbar li{
    list-style-type:none;
    font-size: large;

    
}
/* this is to set the pseudo hover  class of the navigation bar*/
#navbar a:hover{
    background-color:black;
    color: white;
}
/*this is to set the pseudo active class of the navigation bar*/
#navbar a:active{
    background-color: white;
    color: black;
}
/*lastly this is for setting the pseudo visited clas of the navigation bar*/
#navbar a:visited{
    color: purple;
}
/* the above code is going to be common on all webpage of the website*/

/*this is editing the footer*/
footer{
    display: flex;
    background-color: grey;
}
footer div{
    flex: 1;
    padding: 10px;
}
/*for the logo*/
#logo1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}